doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Color References
        link(rel="stylesheet", href="style.css")
    body 
        .heading 
            h1 Color Reference 
            p A collection of colors I've found around the internet that I want to save for later use 
        .colors-grid
            .color-card(onclick="copyHexCode()") 
                #color-code fe4e2a
        script(src="/main.js") 