{% layout 'base.liquid' %}

{% block content %}
<h1>Add a color</h1>
<form id="postForm">
    <select name="color" id="colorCat">
        <option value="red">red</option>
        <option value="orange">orange</option>
        <option value="yellow">yellow</option>
        <option value="green">green</option>
        <option value="blue">blue</option>
        <option value="purple">purple</option>
        <option value="white">white</option>
        <option value="black">black</option>
    </select>
    <input type="color" name="colorCode">
    <button type="submit">Submit</button>
</form>

<h1>Remove a color</h1>
<form id="delForm">
    <input type="text" name="colorCode">
    <button type="submit">Submit</button>
</form>
<script>
    const postFormEl = document.getElementById('postForm');
    const delFormEl = document.getElementById('delForm');
    postFormEl.addEventListener('submit', (e) => {
        e.preventDefault();

        const formdata = new FormData(postFormEl);
        const data = JSON.stringify(Object.fromEntries(formdata));

        fetch('https://tools.n-s.work/api/colors', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: data,
        });
    });

    delFormEl.addEventListener('submit', (e) => {
        e.preventDefault();

        const formdata = new FormData(delFormEl);
        const data = JSON.stringify(Object.fromEntries(formdata));

        fetch('https://tools.n-s.work/api/colors', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: data,
        });
    });
</script>
{% endblock %}
